@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Universal Selectors */
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  list-style: none;
  text-decoration: none;
}
.form{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top:120px;
  width: 700px;
  background-color: #2288ff;
  border-radius:30px;
  display: flex;
  flex-direction: row;
}
.left{
  padding-top: 15%;
  width:30%;
  text-align: center;
}
.logo{
  color:white;
  font-weight:700;
  font-size:30px;
}
